<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="AuthToken" value="" />
		<add key="SaveToken" value="true" />
		<add key="CustomIDs" value="" />
		<add key="Logs" value="true" />
		<add key="NoSleep" value="true" />
		<add key="OnlineDevice" value="true" />
		<add key="Albums" value="true" />
		<add key="Audios" value="true" />
		<add key="Followers" value="true" />
		<add key="Friends" value="true" />
		<add key="Gifts" value="true" />
		<add key="Pages" value="false" />
		<add key="Photos" value="true" />
		<add key="Posts" value="true" />
		<add key="Status" value="true" />
		<add key="Stories" value="false" />
		<add key="Subscriptions" value="true" />
		<add key="Videos" value="true" />
		<add key="ClipsFollowers" value="false" />
		<add key="OpenSettings" value="false" />
		<add key="ClearCookies" value="true" />
		<add key="SelectedUser" value="0" />
		<add key="Autostart" value="false" />
		<add key="CustomAppId" value="" />
		<add key="CustomAppIdToggle" value="false" />
		<add key="DownloadFiles" value="true" />
		<add key="StartOnBoot" value="true" />
		<add key="DetailedLogs" value="true" />
	</appSettings>
</configuration>